<footer class="footer">		
	<div class="container" style="background-color: #63ACE5;">		
	<div class="border-row" style="width: 100%; min-height: 15px;"></div>		
	<div class="row">			
		<div class="col-md-2"></div>			
		<div class="col-md-2">
			<ul style="list-style-type: none;”>							<li><strong>About</strong></li>						<li>Me</li>
				<li>The Organisation</li>					</ul>
		</div>						
		<div class="col-md-1"></div>			
		<div class="col-md-2">	
			<ul style="list-style-type: none;">								<li><strong>Social</strong></li>							<li>GitHub</li>								<li>Facebook</li>							<li>Twitter</li>
			</ul>			
		</div>
	</div>
	</div>
</footer>
